<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sunnystagram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFFA378F1C0BAE9900CEFE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFFA37A31C0BAE9900CEFE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFFA37AE1C0BAE9900CEFE7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
